<div class="bg-full-screen" 
     style="background-image: url('../images/cinema.jpg');">
</div>
<div class="d-flex justify-content-end" style="height:100vh">
    <div class="d-flex justify-content-start" style="height:100vh;width:50vw;">
        <div class="m-5">
            <h1 class="text-white fw-bold" style="font-size:9rem">Cinema Ironhack</h1>
            <a href="/movies" type="button" class="btn btn-light rounded-pill btn-lg px-5 text-info">Check the movies!</a>
        </div>
    </div>
</div>

<footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Copyright from https://mdbootstrap.com/how-to/bootstrap/footer-at-bottom/ -->
    <div class="text-center p-3" style="background-color: rgb(131, 0, 44);">
        © 2023 Copyright:
        <a class="text-dark" href="https://github.com/javideas/lab-express-cinema">{{title}} by Javideas</a>
    </div>
    <!-- Copyright -->
</footer>