html {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-full-screen {
  background-position-y: -75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}


@media (max-width: 992px) {
  .card {
      flex-basis: 200px; /* #{$grid-gutter-width} */
      margin-right: 0.5rem;
      margin-left: 0.5rem;
  }
}


@media (min-width: 992px) {
  .card {
    flex-basis: 300px;
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
